* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    text-decoration: none;
    list-style: none;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}
.contents {
    width: 1200px;
    height: 200px;
}
.notice {
    width: 400px;
    height: 200px;
    padding: 20px 20px 0 0;
    float: left;
}

.tabs{
    width: 400px;
    height: 50px;
}

.tabs > div {
    float: left;
    height: 50px;
    width: 80px;
    border: 1px solid #000;
    background-color: #888;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.tabs .tab-news {
    background-color: #fff;
    border-left: 0;
}
.tabs .tab-gallery {
    border-left: 0;
}
.news, .gallery {
    margin-top: -1px;
    width: 100%;
    height: 130px;
    border: 1px solid #000;
    padding-left: 5px;
}

.news ul li {
    float: left;
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #000;
}

.news ul li:first-child {
    width: 260px;
    padding-left: 5px;
}

.gallery {
    display: none;
}
.gallery img {
    margin: 15px 9px 0 9px;
}
#pop {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50;
    left: 50%;
    border: 1px solid #000;
    background-color: #fff;
    transform: translate(-50%, -50%);
    display: none;
}
#pop p{
    font-size: 20px;
    padding: 0 20px;
}
.exit {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#pop .title {
    padding-left: 20px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #000;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
} 