/* reset */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #333;
}

.wrapper {
    
}

.slide {
    width: 1200px; 
    height: 300px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.slide > img {
    position: absolute;
    top: 0;
    left: -100%;
}

.slide > img:first-child {
    left: 0;
}