@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    text-decoration: none;
    list-style: none;
}
.wrapper {
    width: 1280px;
    margin: 0 auto;
}
header {
    height: 100%;
    position: relative;
}

.menu {
    position: absolute;
    top: 60px;
    left: 400px;
    z-index: 999;
}
header > div {
    float: left;
}
.logo {
    width: 200px;
    text-align: center;
}
.main-menu {
    width: 800px;
    height: 40px;
    background-color: #ddd ;
}
.main-menu a{
    display: block;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}
.main-menu a:hover {
    background-color: #000;
    color: #fff;
}
.main-menu ul li {
    width: 200px;
    float: left;
}
.sub-menu{
    width: 1280px;
    height: 200px;
    background-color: #000;
    margin-left: -400px;
    text-align: center;
    display: block;
}
.sub-menu a {
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
}
.sub-menu a:hover {
    background-color: #fff;
    color: #000;
}
.sub-menu ul li {
    float: left;
    width: 200px;
}
.sub-menu > div {
    float: right;
    margin-right: 80px;
}
.slide {
    width: 1280px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border: 1px solid blue;
}