@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    text-decoration: none;
    list-style: none;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color: yellow;
}
header {
    width: 100%;
    height: 100px;
}
header > div {
    float: left;
}
.logo {
    width: 200px;
    text-align: center;
}
.menu {
    width: 800px;
    float: right;
    margin-right: 50px;
    padding-top: 50px;
}

